@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v13/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxnibbpXgLHK_uTT48UMyjSM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v14/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  margin: 0;
}

.site-wrapper {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  height: 100%;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.align_right {
  text-align: right;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #FFF;
  line-height: 1.70rem;
}

a {
text-decoration: none;
color: white;
}

a:focus {
  color: #fbed2b;
}

ul {
	display: inline-flex;
  margin: 0 1rem;
 }

li  {
  font-size: 1rem;
  display: inline-flex;
  justify-content: space-between;
  margin-right: 2rem;
  list-style: none;
}

.lang li {
  padding: 0 1rem;
}

.lang a:hover {
  color: rgb(248,238,94);
}

.pt {
  border-right: 1px solid rgb(248,238,94);
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 1rem;
}

h1 {
  font-family: "Open Sans", "Raleway", sans-serif;
  color: #fbed2b;
}

h2 {
  color: #fbed2b;
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 5rem;
  width: 80%;
  font-weight: 700;
}

h3, h4 {
  color: black;
  font-size: 2.5rem;
}

p {
  font-size: 1.25rem;
  width: 80%;
  line-height: 1.75;
}

.explanation p {
text-align: left;
margin: 3rem 0;
color: black;
}

.text {
  /* display: flex; */
  flex-direction: column;
  width: 100%;
  color: black;
}

.obras .text {
  width: 90%;
  margin: 3rem auto 6rem auto;
}


span {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  text-align: center;
  color: rgb(0,0,0);
}



.logo {
    display: inline-flex;
    height: 5rem;
}

.header, footer {
  padding: 1rem 3rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.header {
  background-color: rgb(0,0,0);
  color: white;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #fbed2b;
}

.megatron {
  background-image: url("../images/megatron_vertical2-01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.category a {
  position: fixed;
  cursor: pointer;
  color: white;
  /* transform: translate3d(-50%, -50%, 0); */
  padding: 0.7em calc(0.7em * 1.2);
  display: inline-block;
  border: 3px solid transparent;
  position: relative;
  font-size: 1.5em;
  letter-spacing: 0.07em;
}
.category a .text {
  font-family: "Open Sans", "Raleway", sans-serif;
  /*transform: translate3d(0, 0.7em, 0);
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s; */
  display: block;

  color: white;
  font-size: 1.75rem;
  margin: 1rem;
  text-align: left;
}

.category a:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: calc(0.7em * 1.2);
  right: calc(0.7em * 1.2);
  height: 3px;
  background: #fbed2b;
  z-index: -1;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}

.line {
  position: absolute;
  background: #fbed2b;
}
.line.-right, .line.-left {
  width: 2px;
  bottom: -2px;
  top: -2px;
  transform: scale3d(1, 0, 1);
}
.line.-top, .line.-bottom {
  height: 2px;
  left: -2px;
  right: -2px;
  transform: scale3d(0, 1, 1);
}
.line.-right {
  right: -2px;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transform-origin: top;
}
.line.-top {
  top: -2px;
  transition: transform 0.08s linear 0.43s;
  transform-origin: left;
}
.line.-left {
  left: -2px;
  transition: transform 0.08s linear 0.51s;
  transform-origin: bottom;
}
.line.-bottom {
  bottom: -2px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}

.category a:hover .text,
.category a:active .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.category a:hover:after,
.category a:active:after {
  transform: scale3d(0, 1, 1);
  right: -2px;
  left: -2px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}
.category a:hover .line,
.category a:active .line {
  transform: scale3d(1, 1, 1);
}
.category a:hover .line.-right,
.category a:active .line.-right {
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  transform-origin: bottom;
}
.category a:hover .line.-top,
.category a:active .line.-top {
  transition: transform 0.08s linear 0.4s;
  transform-origin: right;
}
.category a:hover .line.-left,
.category a:active .line.-left {
  transition: transform 0.08s linear 0.48s;
  transform-origin: top;
}
.category a:hover .line.-bottom,
.category a:active .line.-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}


.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto 0;
  background-color: rgba(0,0,0,0.5);
  padding: 8rem 0;
}

.category h3 {
  font-family: "Open Sans", "Raleway", sans-serif;
  font-size: 5rem;
  margin: 6rem auto;
  font-weight: 800;
  color: white;
}

.category a {
  font-size: 2rem;
}

/* Buttons to categories */
.remodel {
    font-size: 8rem;
    position: relative;
    left: 20%;
    color: white;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

/*.remodel:hover {
  transform: translate(-10rem);
} */

.carpint {
  font-size: 8rem;
  position:relative;
  right: 20%;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

/* .carpint:hover {
  transform: translate(10rem);
} */



#contact .skewed-bg .content .flex-column {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-top: 0px;
}

#contact .skewed-bg .content {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-top: 3rem;
  margin-bottom: 2rem;
}


#sobre img {
  height: 20rem;
  position: relative;
  left: 10%;
}

#sobre {
  text-align: left;
  }

  #sobre p {
    color: white;
  }

  #equipa {
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    margin-bottom: 40rem;
  }

  #equipa p {
    color: black;
    text-align: right;
  }

  .fotografias {
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10rem;
  margin-top: 5rem;
  }

  .foto_group {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .snapshot {
    width: 15rem;
    margin: 2rem 4rem 1rem 4rem;
  }

  #remodel {
    margin: 0 auto;
  }

  #carpint {
    margin: 13rem auto;
  }

  #carpint-gallery {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5rem auto;
  }

  #carpint p, .remodel p {
    color: black;

  }

  #remodel .skewed-bg {
    margin-top: -6rem;
  }


  .banner {
    background-image: url("../images/cozinha-amarela-moderna.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50rem;
    width: 100%;
    margin: -4rem 0;
    z-index: 9;
  }

  .carpint-gallery .banner {
    background-image: url("../images/floor.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50rem;
    width: 100%;
    margin-top: -17rem;
    z-index: 9;
  }

  .frase {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
  }

  .frase h1, .frase span {
    margin-left: 50px;
  }


  .banner span {
    font-family: "Open Sans", "Raleway", sans-serif;
    font-weight: 800;

    color: white;
    font-size: 4rem;
    text-align: left;
    line-height: 1.75;
    padding: 5rem 0;

  }

  .obras span  {
    font-family: "Open Sans", "Raleway", sans-serif;
    font-weight: 800;

    font-size: 4rem;
    text-align: left;
    color: #fbed2b;

  }

  .obras  {

    margin: 10rem auto;
  }



  #remodel-gallery {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }


  .thumb {
    width: 20%;
  }

  .R1 {
    background-image: url()
  }

  #remodel .skewed-bg, .division .skewed-bg {
    padding: 5rem 0;
  }

  #contact {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  #contact h2 {
    text-align: center;
  }


  #map {
    margin: 0 auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    height: 100%;
    width: 60%;
  }

  .icons img {
    height: 3rem;
    opacity: 0.4;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    margin: 2rem;
  }

  .icons img:hover {
    opacity: 1;
  }

  .icons h3 {
    margin-right: 2rem;
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #parcerias img {
    margin: 3rem;
    height: 100%;
    opacity: 0.5;
  }

  #parcerias {
    padding: 6rem 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 4rem 0;
  }

  .parcerias {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    overflow: hidden;
    width: 100%;
    padding: 0 5rem;
  }

/* CONTACT FORM */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.flex-column-form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
  font: 400 12px/16px "Lato", Helvetica, Arial, sans-serif;
}

#contact-form {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact-form h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact-form h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact-form textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact-form button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #fbed2b;
  color: #444;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact-form button[type="submit"]:hover {
  background: #000;
  color: #fbed2b;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact-form button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}



  /* footer */

  .footer .logo {
    opacity: 0.4;
  }

  .footer .logo:hover {
    opacity: 1;
  }

  .footer {
    padding-top: 7rem;
    padding-bottom: 10rem;
    display: flex;
    align-items: center;
    background-color: black; /* rgb(248,238,94); */
    color: rgb(248,238,94); /* rgba(0,0,0,0.4); */
    height: 10rem;
  }

  .footer a {
    color: rgba(248,238,94,0.4);
  }

  .footer a:hover {
    color: rgb(248,238,94);
  }


  /* EFFECTS */

  .skewed-bg {
    display: flex;
    align-items: center;
    background: rgb(0,0,0);
    padding: 15rem 0;
    -webkit-transform: skew(0deg, -2deg);
    transform: skew(0deg, -2deg);
    margin-top: -6rem;
  }

  .skewed-bg .content {
    -webkit-transform: skew(0deg, 2deg);
    transform: skew(0deg, 2deg);
    text-align: left;
  }
  .skewed-bg .content .title {
    padding-top: 6,25rem;
    font-weight: normal;
  }
  .skewed-bg .content .text {
    width: 60%;
    /* margin: 25px auto; */
    color: #ccfff2;
  }

  /* hover link effect */
  .sliding {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
.sliding:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    transition: width 0s ease;
    background: .5s ease;
}
.sliding:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background: rgb(248,238,94);
    transition: width .5s ease;
}
.sliding:hover:before {
    width: 100%;
    background: rgb(248,238,94);
    transition: width .5s ease;
}
.sliding:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}




* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


#gallery {
  width: 90%;
  margin: 5rem auto;

}

.currieira-main-img {
  background-image: url("../images/currieira_exterior.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}

button.dropbtn {
  width: 100%;
  height: 300px;
}

button {
  padding: 0px;
}

/* Dropdown Button */
.dropbtn {
    background-image: url("../images/currieira_exterior.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    /* background-color: #3e8e41; */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
    margin-bottom: 150px;
    width: 100%;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

/* Change color of dropdown links on hover */
.dropbtn:hover {
  opacity: 0.8;

}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}

#myDropdown.dropdown-content.show {
  width: 100%;
  height: 500px;
}

.show a img {
  width: 100%;
}


.gal.img {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
    }

.gal.img img {
  width:30%;
  margin: 2rem;
  }

.gal img {
  width: 50%;
  margin-bottom: 2rem;

}

.obra {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.obra-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.cur_main {
  width: 50%;
  background-image: url("../images/currieira_exterior.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.cur_small {
  width: 50%;
  height: 400px;
}

.cur_small img {
  width: 40%;
  margin: 0 1% 1% 2.5%;
}

.banheira {
  width: 50%;
  background-image: url("../images/banheira.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 75%;
  height: 400px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.tag {
  border-top: 1px solid #fbed2b;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
